body {
  color: black;
  font-family: 'Helvetica';
  width: 90%;
}

#source {
  margin: 0 auto;
  width: 100%;
}

#source-text {
  width: 40em;
  height: 20em ;
}

#preview {
  width: 60%;
  margin: 0 auto;
  font-size: 3em;
}