<h1>Welcome to this Page</h1>

<%= link_to 'Some Markdown', new_post_path %>
<div id="container">
  <textarea id="text-box", placeholder="Write in here">
  </textarea>
</div>

<div id="output-div">
  <p>This is the output:</p>
  <p></p>
</div>
